<div class="wrapper">
     
     <!-- Main Header -->
  <app-main-header></app-main-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-main-left-side></app-main-left-side>
  
  <!-- Content Wrapper. Contains page content -->
  <app-main-content></app-main-content>
  <!-- /.content-wrapper -->
  
  <!-- Main Footer -->
  <app-main-footer></app-main-footer>
  <!-- Control Sidebar -->
  <app-main-control-sidebar></app-main-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
