<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li [routerLinkActive]="['active']"><a routerLink="home"><i class="fa fa-dashboard"></i> <span>DASHBOARD</span></a></li>
      <li [routerLinkActive]="['active']"><a routerLink="mapping"><i class="fa fa-sitemap"></i> <span>MAPPING</span></a></li>
      <li class="treeview">
        <a href="#"><i class="fa fa-dollar"></i> <span>REVENUE</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">REVENUE YTD</a></li>
          <li><a href="#">REVENUE CURRENT MONTH</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-university"></i> <span>CUSTOMER</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">CUSTOMER ACH</a></li>
          <li><a href="#">CUSTOMER TIER</a></li>
        </ul>
      </li>

      <li><a href="#"><i class="fa fa-gears"></i> <span>SMART CITY NUSANTARA</span></a></li>
      <li><a href="#"><i class="fa fa-reorder"></i> <span>LOP</span></a></li>

      <li class="treeview">
        <a href="#"><i class="fa fa-chrome"></i> <span>NCX</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">AO</a></li>
          <li><a href="#">MO</a></li>
          <li><a href="#">RO</a></li>
          <li><a href="#">SO</a></li>
          <li><a href="#">DO</a></li>
          <li><a href="#">ORDER TIDAK VALIS</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-chrome"></i> <span>NCX COMPLETE</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">AO</a></li>
          <li><a href="#">MO</a></li>
          <li><a href="#">RO</a></li>
          <li><a href="#">SO</a></li>
          <li><a href="#">DO</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-suitcase"></i> <span>PROJECT CHANNEL</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a href="#">E-KATALOG</a></li>
          <li><a href="#">SHOPPING ONLINE</a></li>
          <li><a href="#">TENDER</a></li>
          <li><a href="#">PENUNJUKAN LANGSUNG</a></li>
        </ul>
      </li>
      
      <li><a href="#"><i class="fa fa-hourglass-end"></i> <span>END CONTRACT</span></a></li>
      <li><a href="#"><i class="fa fa-credit-card"></i> <span>PIUTANG</span></a></li>
      <li><a href="#"><i class="fa fa-check"></i> <span>COMPLETE</span></a></li>


      <li class="header">ADMIN</li>
      <li><a href="#"><i class="fa fa-users"></i> <span>USERS</span></a></li>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
