<div class="box-filter">
    <button style="margin-left:240px;" type="button" class="btn btn-light btn-sm" (click)="filter()"><i class="fa fa-filter"></i> Filter</button>
    
    <div class="box box-primary" *ngIf="filter_active" style="margin-top:10px;">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-filter"></i> FILTER</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="form-group">
              <label>Mulai bulan</label>
              <select placeholder="Bulan" [(ngModel)]="start_month" class="form-control"> <!-- (change)="getData()" -->
                  <option [value]="1">Januari</option>
                  <option [value]="2">Februari</option>
                  <option [value]="3">Maret</option>
                  <option [value]="4">April</option>
                  <option [value]="5">Mei</option>
                  <option [value]="6">Juni</option>
                  <option [value]="7">Juli</option>
                  <option [value]="8">Agustus</option>
                  <option [value]="9">September</option>
                  <option [value]="10">Oktober</option>
                  <option [value]="11">November</option>
                  <option [value]="12">Desember</option>
              </select>
              <small class="form-text text-muted">Pilih sejak bulan apa data yang ingin di tampilkan.</small>
          </div>
          <div class="form-group">
              <label>Sampai bulan</label>
              <select placeholder="Bulan" [(ngModel)]="end_month" class="form-control"> <!-- (change)="getData()" -->
                  <option [value]="1">Januari</option>
                  <option [value]="2">Februari</option>
                  <option [value]="3">Maret</option>
                  <option [value]="4">April</option>
                  <option [value]="5">Mei</option>
                  <option [value]="6">Juni</option>
                  <option [value]="7">Juli</option>
                  <option [value]="8">Agustus</option>
                  <option [value]="9">September</option>
                  <option [value]="10">Oktober</option>
                  <option [value]="11">November</option>
                  <option [value]="12">Desember</option>
              </select>
              <small class="form-text text-muted">Pilih sampai bulan apa data yang ingin di tampilkan.</small>
          </div>
          <hr/>
          <select placeholder="Treg" [(ngModel)]="param_treg" class="form-control filter-select" (change)="changeTreg()"> <!-- (change)="getData()" -->
              <option value="ALL">ALL TREG</option>
              <option *ngFor="let treg of tregs" [value]="treg.ID">{{ treg.ID }}</option>      
          </select>
          <select placeholder="Witel" [(ngModel)]="param_witel" class="form-control filter-select" (change)="changeWitel()"> <!-- (change)="getData()" -->
              <option value="ALL">ALL WITEL</option>
              <option *ngFor="let witel of witels" [value]="witel.ID">{{ witel.NAME }}</option>      
          </select>
          <select placeholder="AM" [(ngModel)]="param_am" class="form-control filter-select" (change)="changeAm()"> <!--   -->
              <option value="ALL">ALL AM</option>
              <option *ngFor="let am of ams" [value]="am.ID">{{ am.NAME }}</option>
          </select>
          <select placeholder="Customer" [(ngModel)]="param_customer" class="form-control filter-select"> <!-- (change)="getData()" -->
              <option value="ALL">ALL CUSTOMER</option>
              <option *ngFor="let customer of customers" [value]="customer.ID">{{ customer.NAME }}</option>
          </select>
          <button type="submit" class="btn btn-primary" (click)="getData()" style="width: 100%;">Submit</button>
        </div>
    </div>
</div>



<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-bar-chart"></i> DIAGRAM</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <canvas #canvasBar width="1000" height="200" style="width: 1000px; height: 200px;"></canvas>
      <legend for="myCanvas"></legend>
    </div>
</div>


<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-dollar"></i> REVENUE YTD</h3>
      <div class="box-tools">
        <button type="button" (click)="exportXLSX()" class="btn btn-block btn-default btn-xs"><i class="fa fa-download"></i> Export</button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <img *ngIf="loading" style="position: absolute; top:10px; left:10px;" src="assets/img/loading.gif" />

        <div class="row row-total">
            <div class="col-sm-4">
                <span class="total">{{ total_target | numberId }}</span> Target
            </div>
            <div class="col-sm-4">
                <span class="total">{{ total_revenue | numberId }}</span> Revenue
            </div>
            <div class="col-sm-4" style="border-right: 0px;">
                <span class="total">{{ total_achieve | number: '.2-2' }}%</span> Achievement

                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax ="100" 
                    style="min-width: 2em;" [style.width]="total_achieve + '%'">
                    </div>
                    <span class="tooltip-progress">{{ total_achieve | number: '.2-2' }}%</span>
                </div>
                
            </div>
        </div>

        <hr/>

        <table class="table table-bordered table-striped"
          [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"
        >
          <thead>
            <tr>
                <th>NO</th>
                <th width="70">TREG</th>
                <th>WITEL</th>
                <th>CUSTOMER</th>
                <th>AM</th>                
                <th>NIK</th>
                <th>TARGET</th>
                <th>REALISASI</th>
                <th>ACHIEVEMENT</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data; let i = index">
                <td class="td-right">{{ data.indexOf(item) + 1 }}</td>
                <td class="td-left">{{ item.TREG }}</td>
                <td class="td-left">{{ item.WITEL_NAME }}</td>
                <td class="td-left">{{ item.CUSTOMER_NAME }}</td>
                <td class="td-left">{{ item.AM_NAME }}</td>
                <td class="td-center">{{ item.AM_ID }}</td>
                <td class="td-right">{{ item.TARGET | numberId }}</td>
                <td class="td-right">{{ item.REVENUE | numberId }}</td>
                <td class="td-right">{{ item.ACHIEVE }}%</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
                <td colspan="9">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,50,100]"></mfBootstrapPaginator>
                </td>
            </tr>
          </tfoot>
        </table>
    </div>
</div>
