table {
    font-size: 10px;
}

table td, table th {
    text-align: center;
    padding: 3px;
}

.field-right {
    text-align: right !important;
}

.text-rekap p {
    margin-bottom: 0px;
    color: #999;
}

.text-rekap h3 {
    margin-top: 0;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.chcek-with-interim {
    font-size: 10px;
    margin-left:5px;
    color: #999;
}




.diagram-cuistom {
    margin-left:20px;
}



/**
 * Progress Bar
 */

 .progress {
    height: 5px;
 }

  .progress-bar{
     background:#57d9ff;
  }

  .tooltip-progress {
    position: absolute;
    margin-top: -26px;
    right: 15px;
    background-color: #ff9447;
    padding: 1px 6px;
    color: white;
    border-radius: 5px;
  }