<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">AM</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             

              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>TREG</th>
                    <th>SAM</th>
                    <th>AM</th>
                    <th>JAM-2</th>
                    <th>JAM-1</th>                
                    <th>ASMAN</th>
                    <th>AMEX</th>
                    <th>TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sumJabatanPerTregs" class="td-click">
                      <td>{{ item.ID }}</td>
                      <td (click)="getTregJabatanAm(item.ID, 1)">{{ item._1 }}</td>
                      <td (click)="getTregJabatanAm(item.ID, 2)">{{ item._2 }}</td>
                      <td (click)="getTregJabatanAm(item.ID, 3)">{{ item._3 }}</td>
                      <td (click)="getTregJabatanAm(item.ID, 4)">{{ item._4 }}</td>
                      <td (click)="getTregJabatanAm(item.ID, 5)">{{ item._5 }}</td>
                      <td (click)="getTregJabatanAm(item.ID, 6)">{{ item._6 }}</td>
                      <td>{{ item.total }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">LIST AM <small>{{ treg }} | {{ jabatan }}</small></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              
                <table class="table table-bordered table-striped"
                  [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"
                >
                    <thead>
                      <tr>
                        <th><mfDefaultSorter by="ID">NIK</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="NAME">NAME</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="JUMLAH_GC">GC</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="TARGET_GC">TARGET YTD</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="REALISASI_GC">REALISASI</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="PERCENTAGE_GC">ACHIEVEMENT</mfDefaultSorter></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of mf.data" (click)="amDetail(item.ID)" class="th-click">
                        <td>
                          <img src="{{ item.AVATAR }}" style="padding:5px;" width="30" height="30" style="border-radius:50%;" class="d-inline-block align-top" alt="">
                          <br/>
                          <small class="label label-danger">{{ item.ID }}</small>
                        </td>
                        <td>
                            <b>{{ item.NAME }}</b><br/>
                            <i>{{ item.EMAIL }}</i><br/>
                            {{ item.PHONE }}
                        </td>
                        <td>{{ item.JUMLAH_GC }}</td>
                        <td class="td-right">{{ item.TARGET_GC | numberId }}</td>
                        <td class="td-right">{{ item.REALISASI_GC | numberId }}</td>
                        <td>{{ item.PERCENTAGE_GC | number }}%</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <td colspan="6">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                          </td>
                      </tr>
                    </tfoot>
                  </table>

            </div>
        </div>
    </div>
  </div>


  <app-mapping-am-detail [am_id]="am_id" (close)="closeAmDetail()" *ngIf="am_detail_active"></app-mapping-am-detail>